@import 'Fonts';
@import 'Constants';

* { box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.title {
  line-height: 2.7rem;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .3rem;
  color: $black;
  text-transform: uppercase;
}

.sub-title {
  @extend .title;
  font-size: 1.2rem;
}

.input-name-title {
  line-height: 1.5rem;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .16rem;
}

.input-form {
  width: 100%;
  border: solid .05rem $dark-black;
  padding: .9rem 1.5rem;
}

.button-target {
  @extend .title;

  font-weight: normal;
  font-size: 1em;
  width: 100%;
  height: 4rem;
  background-color: $black;
  border: $black;
  color: $white;
}

.margin-top-target {
  margin-top: 2.5rem;
}

.container-form {
  max-width: 50rem;
  width: 100%;

  > * + * { margin-top: 2.5rem; }
}

.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: $dark-skyblue;
}

.circle.box {
  display: flex;
}

.img-center {
  margin: auto;
}

.line-separator {
  width: 20rem;
  height: .05rem;
  border: solid .05rem $grey;
}

.line-separator.small-line {
  width: 10rem;
}
