@import 'Constants';

.app {
  text-align: center;
  display: flex;
}

.app-header {
  background-color: $dark-color;
  color: $dark-color;
  height: 150px;
  padding: 20px;
}

.app-intro {
  font-size: large;
}

.sub-title-home {
  font-weight: bold;
  color: $black;
}

.leftpanel-container {
  min-width: 30rem;
}
