.sign-up-wrapper {
  margin-top: 2rem;
  text-align: center;

  &> * { display: block; }
  > * + * { margin-top: 1rem; }
}

.line-separator {
	width: 20rem;
	height: .05rem;
	border: solid .05rem grey;
}
